body {
    margin: 0;
    font-family: "Helvetica", "Arial", sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr;
}

@media only screen and (orientation: landscape) {
    #map {
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

@media only screen and (orientation: portrait) {
    #map {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

#control {
    padding: 10px;
}

input[type="file"] {
    display: none;
}

.button {
    font-size: 12pt;
    display: inline-block;
    color: white;
    background: #5494de;
    padding: 5px;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.button:hover {
    background: #256ec1;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#street-view-control {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-bottom: 22px;
    text-align: center;
}

.highlight {
    animation: blink 0.8s linear 0.2s 2;
}

#street-view-control-text {
    color: rgb(25, 25, 25);
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
}
